@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    paddind:0;
    box-sizing: border-box;
}
body{
background:#707892}

.cortexto{

    background: -webkit-linear-gradient(180deg, #02D5FF 18.81%, #C84CFF 78.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cortexto2{

    color:#92BAFE;
}

button{
    width: 24%;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
}
button:hover{
  
    background:#02D5FF;
}

.but{
    width: 34%;
    border: solid 2px white;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
    

}
.but:hover{
  
    background:#02D5FF;
}
.fundo2{
background:#1D1F2D}



.botao{
    width: 30%;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
}
.botao:hover{
    
    background:#02D5FF;
}