@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    paddind:0;
    box-sizing: border-box;
}
body{
background:#707892}

.cortexto{

    background: -webkit-linear-gradient(180deg, #02D5FF 18.81%, #C84CFF 78.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cortexto2{

    color:#92BAFE;
}

button{
    width: 24%;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
}
button:hover{
  
    background:#02D5FF;
}

.but{
    width: 34%;
    border: solid 2px white;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
    

}
.but:hover{
  
    background:#02D5FF;
}
.cel{
    background: linear-gradient(180deg, #11131C 0%, #1D2130 100%);
    cursor:pointer;
    transition:1s;
}
.cel:hover{
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    
    border-radius: 10px;

}
.fundo2{
background:#1D1F2D}



.botao{
    width: 30%;
    height: 2.4rem;
    background: linear-gradient(105.07deg, #13CAFF -27.48%, #C84DFF 87.77%);
    transition:1s;
    border-radius: 20px;
    cursor:pointer;
}
.botao:hover{
    
    background:#02D5FF;
}
.aclaro{
    background: radial-gradient(50% 50% at 50% 50%, #77E8FF 0%, #02D5FF 100%);
    border-radius: 10px;
    cursor:pointer;
    transition:1s;

    width: 89.38px;
    height: 89px;
}

.aclaro:hover{
    box-shadow: aqua 0px 5px 20px ;
    background: radial-gradient(100% 100% at 10% 10%, #77E8FF 70%,#02D5FF 30%);

}
.aceu{
    background: radial-gradient(50% 50% at 50% 50%, #A1FFF2 0%, #0BFFDD 100%);
    border-radius: 10px;
    cursor:pointer;
    width: 89.38px;
    height: 89px;
    transition:1s;

}

.aceu:hover{
    box-shadow: blue 0px 5px 20px ;
    background: radial-gradient(30% 30% at 70% 70%, #A1FFF2 50%,#0BFFDD 50%);

}

.roxo{
    background: radial-gradient(50% 50% at 50% 50%, #E099FF 0%, #C84BFF 100%);
    border-radius:10px;
    cursor:pointer;
    width: 89.38px;
    transition:1s;

    height: 89px;
}
.roxo:hover{
    box-shadow: violet 0px 5px 20px ;
    background: radial-gradient(70% 70% at 30% 30%, #E099FF 50%,#C84BFF 50%);

}
.amarelo{
    background: radial-gradient(50% 50% at 50% 50%, #E3FF93 0%, #C3FF18 100%);
    border-radius: 10px;
    cursor:pointer;
    width: 89.38px;
    height: 89px;
    transition:1s;
}
.amarelo:hover{
    box-shadow: yellow 0px 5px 10px ;
    background: radial-gradient(60% 60% at 40% 40%, #C3FF18 50%,#E3FF93 50%);
}

